{% extends 'frontend/base.html' %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% load static %}
{% block page_title %}
    Insights
{% endblock %}
<style>
    .v {
        color: red;
    }
</style>

{% block content %}
    <section class="hero is-medium w3-black parallax" style="min-height: 100vh">
        <div class="hero-body bgoverlay">
            <div class="container ">
                <div class="w3-padding-large w3-padding-16">
                    <h1 class="w3-xxxlarge">Insights</h1>
                    <br>
                    <div class="w3-xlarge columns is-multiline">
                        {% for insight in insights %}
                            <div class="column is-4">
                                <a {% if insight.external_link %}target="_blank"{% endif %}
                                   href="


                                           {% if insight.external_link %}{{ insight.external_link }}{% else %}{% pageurl insight %}{% endif %}">
                                    <div class="card w3-bottombar w3-rightbar w3-hover-border-yellow w3-border-gray trans-400">
                                        <div class="card-content">
                                            <h3 class="w3-xxlarge w3-text-black">{{ insight.title }} <span
                                                    class="w3-text-yellow">&rightarrow;</span></h3>
                                            <div class="w3-padding-16 w3-xlarge">
                                                {{ insight.body|richtext|truncatechars_html:140 }}
                                            </div>
                                            {% for tag in insight.tags.all %}
                                                <v-chip class="w3-{{ tag.color }}">
                                                    {{ tag.title }}
                                                </v-chip>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
