<v-btn class="w3-large w3-text-white" style="text-transform: unset" text href="{% url 'frontend:about' %}">
    About us
</v-btn>
<v-btn class="w3-large w3-text-white" style="text-transform: unset" text href="{% url 'frontend:areas_of_practice' %}">
    Areas of Practice
</v-btn>
<v-btn class="w3-large w3-text-white" style="text-transform: unset" text href="{% url 'frontend:rhema_team' %}">
    Our Founder
</v-btn>
<v-btn class="w3-large w3-text-white" style="text-transform: unset" text href="{% url 'frontend:contact' %}">
    Contact us
</v-btn>


