{% load frontend_extra %}
{% load static wagtailimages_tags wagtailcore_tags %}
<v-btn class="w3-large w3-border w3-border-black w3-hover-border-yellow trans-400 w3-text-white {% if index %}w3-yellow{% endif %}"
       style="text-transform: unset" text href="{% url 'frontend:index' %}">
    Home
</v-btn>
<v-btn class="w3-large w3-border w3-border-black w3-hover-border-yellow trans-400 w3-text-white {{ request.path|includes:'about' }}"
       style="text-transform: unset" text href="{% slugurl 'about' %}">
    About us
</v-btn>
<v-btn class="w3-large w3-border w3-border-black w3-hover-border-yellow trans-400 w3-text-white {{ request.path|includes:'areas-of-practice' }}"
       style="text-transform: unset" text href="{% slugurl 'areas-of-practice' %}">
    Areas of Practice
</v-btn>
<v-btn class="w3-large w3-border w3-border-black w3-hover-border-yellow trans-400 w3-text-white {{ request.path|includes:'our-team' }}"
       style="text-transform: unset" text href="{% slugurl 'our-team' %}">
    Our Team
</v-btn>
<v-btn class="w3-large w3-border w3-border-black w3-hover-border-yellow trans-400 w3-text-white {{ request.path|includes:'insights' }}"
       style="text-transform: unset" text href="{% slugurl 'insights' %}">
    Insights
</v-btn>
<v-btn class="w3-large w3-border w3-border-black w3-hover-border-yellow trans-400 w3-text-white {{ request.path|includes:'contact' }}"
       style="text-transform: unset" text href="{% url 'frontend:contact' %}">
    Contact us
</v-btn>

