{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    {{ service.title }}
{% endblock %}

{% block content %}
    <section class="hero is-medium is-patel-yellow" style="min-height: 100vh">
        <div class="hero-body ">
            <div class="container">
                <div class="bgoverlay w3-padding-large w3-padding-32">
                    <h1 class="w3-xxxlarge">About us</h1>
                    <br>
                    <p class="w3-xlarge">
                        Rhema Law is a law firm based in Accra, Ghana, which operates a niche corporate and commercial
                        law practice that advises local, external and multinational companies. We combine creative
                        solutions with pragmatism and a friendly, sensitive approach to support individuals and
                        businesses to resolve conflict, safeguard their futures, and maximize opportunities.
                        <br>
                        <br>
                        <br>
                        Because we appreciate the nuances of starting a business in a foreign country, we are positioned
                        to provide hands-on practical advice to ensure our clients are well placed to do business in
                        Ghana effectively. We offer business regulatory and compliance advisory services to both local
                        and foreign clients to assist them establish their businesses, assist clients maintain
                        regulatory compliance, provide company secretarial services, and advise and assist clients
                        design appropriate corporate governance frameworks for their business needs.
                        <br>
                        <br>
                        <br>
                        Our depth and experience is peaked in the area of transactional law and in this regard, Rhema
                        Law lawyers are experienced in the strategic and tactical issues that arise in transactions.
                        With clients in the financial, insurance, telecommunications, manufacturing and oil and gas
                        industries, we advise on, negotiate and structure transactions, draft transactional documents,
                        counsel clients, prepare and submit materials to regulatory authorities, perform due diligence
                        and legal research, supervise closings, and draft a variety of legal documents including
                        contracts, resolutions and legal opinions.
                    </p>
                    <br>
                    <br>
                    <p class="w3-xlarge">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate dolorem eaque facilis
                        magnam
                        neque, praesentium quos soluta tenetur voluptas. Dolores fuga illum inventore ipsum minus
                        officia
                        quisquam voluptate voluptatum.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
