{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    {{ current_area.title }} | Areas of Practice
{% endblock %}
{% block extra_head %}
    <style>
        a.tab-link {
            color: inherit;
        }

        img #path1 {
            fill-opacity: 0;
        }

        .tabs.is-boxed li.is-active a {
            background-color: #000;
            border-color: #000;
            color: #b2893d;
            border-bottom-color: transparent !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="background: url('/static/images/{{ current_area.slug }}-min.jpg');background-position: center">
        <section class="hero is-transparent is-medium bgoverlay">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <img src="{% static 'images/rl-transparent.svg' %}" alt="" style="height: 89px">

                    <h1 class="w3-text-white w3-xxxlarge">
                        {{ current_area.title }}
                    </h1>
                </div>
            </div>
            <div class="hero-foot w3-content w3-container">
                <nav class="tabs is-boxed">
                    <ul>
                        {% for area in areas_of_practice %}
                            <li class="{% if current_area.slug == area.slug %}is-active{% else %}w3-text-white{% endif %} trans-400 w3-animate-opacity">
                                <a class="tab-link"
                                   href="{% url 'frontend:areas_of_practice' area.slug %}">{{ area.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    <section class="hero is-small w3-black parallax" style="min-height: 100vh">
        <div class="hero-body bgoverlay9">
            <div class="container w3-content fit-content">
                <div class="w3-padding-large">
                    {% if current_area.slug == 'commercial-law' or current_area.slug == 'immigration' %}
                        <div class="w3-content" style="max-width: 900px;margin: auto">

                            {% if current_area.slug == 'immigration' %}
                                <p class="w3-center w3-xlarge w3-margin-bottom">The following services are provided by
                                    our sister
                                    company Oxford Consultants
                                </p>
                                <br>
                            {% endif %}
                            <div class="columns is-multiline is-mobile">
                                {% for text in current_area.texts %}
                                    <div class="column is-6-mobile is-6-desktop is-6-tablet w3-padding-16 w3-xlarge">
                                        {{ text }}
                                        <br>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p class="w3-xlarge">
                            {% for text in current_area.texts %}
                                {{ text }}
                                <br>
                                <br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
