{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Areas of Practice
{% endblock %}
{% block extra_head %}
    <style>
        a.tab-link {
            color: inherit;
        }

        img #path1 {
            fill-opacity: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="background: url('/static/images/{{ current_area.slug }}-min.jpg');background-position: center">
        <section class="hero is-transparent is-large bgoverlay9">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <img src="{% static 'images/rl-transparent.svg' %}" alt="" style="height: 89px">

                    <h1 class="w3-text-white w3-xxxlarge">
                        {{ current_area.title }}
                    </h1>
                </div>
            </div>
            <div class="hero-foot w3-content w3-container">
                <nav class="tabs is-boxed">
                    <ul>
                        {% for area in areas_of_practice %}
                            <li class="{% if current_area.slug == area.slug %}is-active{% else %}w3-text-white{% endif %} trans-400 w3-animate-opacity">
                                <a class="tab-link"
                                   href="{% url 'frontend:areas_of_practice' area.slug %}">{{ area.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    <section class="hero is-small is-white" style="min-height: 100vh">
        <div class="hero-body ">
            <div class="container w3-content fit-content">
                <div class="w3-padding-large">
                    <p class="w3-xlarge">
                        {% for text in current_area.texts %}
                            {{ text }}
                            <br>
                            <br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
