{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    {{ service.title }}
{% endblock %}
{% block content %}
    <section class="hero is-medium is-dark" style="min-height: 100vh">
        <div class="hero-body ">
            <div class="container">
                <div class="bgoverlay w3-padding-large w3-padding-32" style="max-width: 1000px;">
                    <h1 class="w3-xxxlarge">Contact us</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
