{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Welcome
{% endblock %}
{% block content %}

    <div class="hero is-medium is-black w3-black">
        <div class="hero-body columns is-centered">
            <div class="column is-12 w3-padding">
                <div class="w3-center">
                    <img src="{% static 'images/rl.svg' %}" alt="" style="height: 200px">
                </div>
                <h1 class="w3-center w3-text-yellow w3-jumbo bodoni is-uppercase">Rhema Law</h1>
                <h1 class="w3-center w3-xxxlarge w3-padding w3-hide-small bodoni">
                    A versatile law firm offering bespoke legal services
                </h1>
                <h1 class="w3-center w3-xxlarge w3-padding w3-hide-large w3-hide-medium">
                    A versatile law firm offering bespoke legal services
                </h1>
            </div>
        </div>
    </div>
    <div class="hero is-medium w3-black w3-border-top w3-border-yellow">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-offset-1 is-6 w3-padding">
                    <h1 class="w3-xxxlarge w3-margin-bottom w3-hide-small" style="font-weight: 600">
                        Representing businesses and individuals
                    </h1>
                    <h1 class="w3-xxlarge w3-margin-bottom w3-hide-large w3-hide-medium" style="font-weight: 600">
                        Representing businesses and individuals
                    </h1>
                    <p class="w3-xlarge">
                        Rhema Law is a law firm based in Accra, Ghana, which operates a niche corporate and commercial
                        law practice that advises local, external and multinational companies. We combine creative
                        solutions with pragmatism and a friendly, sensitive approach to support individuals and
                        businesses to resolve conflict, safeguard their futures, and maximize opportunities.
                    </p>
                    <br>
                    <a href="{% url 'frontend:about' %}"
                       class="w3-btn w3-border w3-padding-large w3-xlarge is-dark w3-text-white w3-border-yellow">Learn
                        more</a>
                </div>
                <div class="column is-4 is-offset-1 w3-padding w3-hide">
                    <h1 class="w3-xlarge">Contact us</h1>
                    <p class="w3-xlarge">
                        Ground Floor, Stanbic Heights
                        <br>
                        Plot 215 South Liberation Link,
                        <br>
                        Airport City
                        <br>
                        Accra, Ghana
                        <br>
                        <br>
                        <a href="mailto:akuaa@rhemalawgh.com"
                           class="w3-xlarge w3-border-bottom w3-border-white w3-text-white">akuaa@rhemalawgh.com</a>
                        <br>
                        +233 (0) 506 695 374
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero is-medium is-dark w3-black w3-border-top w3-border-yellow">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-offset-1 is-6 w3-padding">
                    <h1 class="w3-xxxlarge w3-margin-bottom w3-hide-small" style="font-weight: 600">Areas of
                        Practice</h1>
                    <h1 class="w3-xxlarge w3-margin-bottom w3-hide-large w3-hide-medium" style="font-weight: 600">Areas
                        of Practice</h1>
                    <div class="columns is-multiline w3-padding-32">
                        {% for area in areas_of_practice %}
                            <div class="column is-12 w3-bottombar w3-border-yellow {% if forloop.counter0 == 0 %}w3-topbar{% endif %}">
                                <div class="columns is-multiline">
                                    <div class="column is-12">
                                        <br>
                                        <div class="w3-display-container w3-padding-large"
                                             style="height: 100%;">
                                            <h2 class="w3-display-left w3-hide-small w3-xxlarge">{{ area.title }}</h2>
                                            <h2 class="w3-display-left w3-hide-large w3-hide-medium w3-xlarge">{{ area.title }}</h2>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <a href="{% url 'frontend:areas_of_practice' area.slug %}"
                                           class="w3-xlarge w3-text-white w3-border-bottom w3-border-yellow">Learn
                                            more &rightarrow;</a>
                                        <br>
                                        <br>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero is-medium w3-black w3-border-top w3-border-yellow parallax" style="padding-top: 0">
        <div class="hero-body bgoverlay">
            <div class="columns">
                <div class="column is-offset-1 is-8 w3-padding">
                    <h1 class="w3-xxlarge w3-margin-bottom">
                        “We must all obey the great law of change. It is the most powerful law of nature.”
                    </h1>
                    <p class="w3-xlarge">– Edmund Burke</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
