{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Team
{% endblock %}
<style>
    .v {
        color: red;
    }
</style>

{% block content %}
    <section class="hero is-medium w3-black bgoverlay" style="min-height: 100vh">
        <div class="hero-body ">
            <div class="container ">
                <div class="w3-padding-large w3-padding-16">
                    <h1 class="w3-xxxlarge">Our Founder</h1>
                    <br>
                    <div class="w3-xlarge">
                        <img src="{% static 'images/akua.png' %}" style="width: 280px" alt=""
                             class="w3-left w3-margin w3-padding-large">
                        Akua obtained an LLB with Advanced French (Hons) from the University of Kent at Canterbury in
                        the U.K, a PGDip in Legal Practice from the College of Law in London, and a PGCE (Modern Foreign
                        Languages – French) from Middlesex University in London. She is a solicitor of the Supreme Court
                        of England and Wales (non-practising), and a solicitor and barrister of the Supreme Court of
                        Ghana, with sixteen years’ collective experience of legal practice in both jurisdictions.
                        <br>
                        <br>
                        <br>
                        Akua provides general corporate advice and legal counsel on negotiating, structuring and closing
                        joint ventures and mergers & acquisitions, corporate re-organisations, obtaining regulatory
                        approvals, commercial contracts, and technology transfer agreements. She advises companies in
                        the energy, oil and gas, banking and insurance sectors.
                        <br>
                        <br>
                        <br>
                        She has extensive experience in employment law, corporate law, and personal and corporate
                        immigration law and practice, as well as the incorporation of companies in Ghana, conducting due
                        diligence, registration with the Ghana Investment Promotion Centre (GIPC,) the Ghana Free Zones
                        Authority (GFZA), and sector-specific institutions such as the National Petroleum Authority
                        (NPA), the Petroleum Commission, and the Energy Commission.
                        <br>
                        <br>
                        <br>
                        Akua also has wide experience of providing company secretarial, corporate governance and
                        compliance services to local and international companies in the telecommunications, oil and gas,
                        banking and insurance sectors, assists in maintaining the corporate registers of companies, and
                        provides compliance advisory support to the boards of directors and management of several local
                        and international companies in conformity with local laws and international best practices.
                        <br>
                        <br>
                        <br>
                        She serves as a director on the boards of a number of private limited companies, is fluent in
                        written and spoken English, and has practical knowledge of French.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
